<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>About the Data</title>
</head>

<body>
    <div class="col-sm">
        <h1><span class="badge badge-danger">Data! 🍟</span></h1>
      </div>

      <div class="col-sm">
Data consists of 12 classes of Singaporean food: <br><br>
🦀chilli crab, 🥟curry puff, 🍤dim sum, 🍧ice kacang, <br>
🥪kaya toast, 🍚nasi ayam, 🌯popiah, 🥞roti prata, <br>
🐠sambal stingray, 🍢satay, 🍵tau huay or 🍜wanton noodle<br><br>

Model is trained with about 100 images from each of the 12 classes<br><br>

<a href="https://aiapstorage1.blob.core.windows.net/datasets/tensorfood.tar.gz">Download dataset here</a>

</div>

<br>

<div class="col-sm">
<a href="/">Back to home</a>
</div>

</body>
</html>