<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>About this App</title>
</head>

<body>
    <div class="col-sm">
        <h1><span class="badge badge-danger">Welcome! 🤖</span></h1>
      </div>

      <div class="col-sm">
App is built as part of AIAP Assignment 7 <br>

The goal is to correctly identify images of Singaporean food <br><br>

Model architecture: MobileNetV2 <br>

Image shape: 224 x 224 x 3<br>

Number of food classes: 12<br>

Pre-trained on: imagenet<br>

Validation Accuracy: 95%<br><br>

Chia Chek Wei<br>
Batch 9<br>
Powered by Python 3.8, Flask, HTML<br>
</div>

<br>

<div class="col-sm">
<a href="/">Back to home</a>
</div>

</body>
</html>