<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Predict Food Image</title>
</head>
<body>
    <div class="col-sm">
      <h1><span class="badge badge-danger">App Predicting...🧠</span></h1>
    </div>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chekwei's Food Prediction</title>


<div class="col-sm">
    You have uploaded below...<br>
    {{user_image}}<br><br>
</div>

<div class="col-sm">
    And I think it's a picture of...
    <h5>{{prediction_text}}</h5>
    with
    <h5>{{prediction_percentage}}% probability!</h5>
    <!-- <h5>{{user_image}}</h5> -->
</div>

<div class="col-sm">
<a href="/">Back to home</a>
</div>

</html> 